.catalogWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.navigation{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
}

.catNav{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 50px;
}

.cardsSection{
    display: flex;
    flex-direction: column;
}

.cart img{
    float: right;
    margin-right: 50px;
}

.Cards{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 307px;
}

.Card{
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
}

.Descr{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-size: 17px;
}

.name{
    font-size: 20px;
}

.AddBtn{
    width: 120px;
    height: 40px;
    background-color: #727F90;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    color: wheat;
    cursor: pointer;
}