* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    padding: 30px 0;
    background-color: rgb(2, 3, 3);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.logo-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    width: 60px;
    display: inline-block;
    margin-right: 282px;
    text-decoration: none;
}

.navigation {
    display: inline-block;
    vertical-align: middle;
}

.navigation ul {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 58px;
}

.nav-item a{
    font-size: 16px;
    color: rgb(253, 239, 213);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
}

.nav-item:hover a {
    color: rgb(255, 175, 24);
    border-bottom: 1px solid rgb(255, 175, 24);
}

.benefits {
    background-color: rgb(2, 3, 3);
    padding: 133px 0 80px 0;
}

h1 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    text-align: left;
}

.benefits-info {
    display: inline-block;
    width: 565px;
    vertical-align: bottom;
    margin-right: 20px;
}

.benefits-points {
    margin-top: 81px;
}

.benefits-point{
    display: inline-block;
}

.benefits-point:first-child{
    margin-right: 99px;
}

.benefits-point p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.benefits-point img {
    vertical-align: bottom;
    margin-right: 11px;
}

.btn {
    background-color: rgb(255, 175, 24);
    border: 1px solid rgb(255, 175, 24);
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 5px 30px 0 rgba(255, 175, 24, 0.6);
    cursor: pointer;
}

.btn.btn-rolls {
    border-radius: 30px;
    padding: 22px 54px;
    margin-top: 104px;
}

.benefits-img {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: -32px;

}

.benefits-img img{
}

.catalog {
    background-color: rgb(2, 3, 3);
    padding: 120px 0;
}

h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.571;
    text-align: center;
    margin-bottom: 48px;
}

.cards {
    margin: 0 -12px;
    font-size: 0;
}

.card {
    background-color: white;
    width: 282px;
    text-align: center;
    padding: 10px 20px 15px 20px;
    box-sizing: border-box;
    display: inline-block;
    margin: 12px;
}

.card:first-child, .card:last-child{
    outline: 5px solid rgb(255, 175, 24);
    outline-offset: -5px;
}

.card-title {
    font-size: 18px;
    color: rgb(24, 26, 26);
    font-weight: bold;
    line-height: 3.056;
    text-align: center;
}

.composition {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    text-align: center;
    margin-bottom: 15px;
    height: 52px;
}

.btn.btn-cart{
    border-radius: 25px;
    padding: 17px 80px;
}

.povar {
    padding: 120px 0 67px 0;
    background-color: rgb(2, 3, 3);
}

.povar-info {
    display: inline-block;
    vertical-align: bottom;
    width: 384px;
    margin-right: 48px;
}

.povar-image {
    display: inline-block;
    vertical-align: bottom;
}

.povar-title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.286;
    text-align: left;
    margin-bottom: 60px;
}

.povar-info p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 100px;
}

h3 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 40px;
}

.more {
    margin: 0 -20px;
}

.more-item{
    display: inline-block;
    margin: 0 20px;
}

.onigiri, .sushi, .tuna {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.onigiri:hover, .sushi:hover, .tuna:hover, .card:hover{
    box-shadow: 0 0 5px 5px rgb(225, 255, 255, 0.5);
}

#onigiri:visited .onigiri{
    background-color: rgb(190, 190, 190);
}

#sushi:visited .sushi{
    background-color: rgb(190, 190, 190);
}

#tuna:visited .tuna{
    background-color: rgb(190, 190, 190);
}

#onigiri:focus .onigiri{
    background-color: rgb(255, 175, 24);
}

#sushi:focus .sushi{
    background-color: rgb(255, 175, 24);
}

#tuna:focus .tuna{
    background-color: rgb(255, 175, 24);
}

.more-item:first-child div{
    background-image: url("../img/Onigiri-black.png");
}
.more-item:nth-child(2) div{
    background-image: url("../img/sushi-black.png");
    background-size: 70%;
}
.more-item:last-child div{
    background-image: url("../img/tuna-black.png");
}

.footer {
    background-color: rgb(0, 0, 0);
    padding: 30px 0;
}

.footer > div > p{
    font-size: 12px;
    color: rgb(44, 44, 44);
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    margin-left: 108px;
}
