
<section class="main-part">
  <h1 class="text__main main-part__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit.</h1>
  <div class="main-part__action">
    <button
      class="btn main-part__btn"
      [routerLink]="appRoutes.catalog.index"
    >
      Каталог
    </button>
  </div>
</section>

<section class="benefits">
  <div class="container benefits__container">
    <div class="benefits__cards">
      <div class="benefits__card">
        <div class="benefits__img">
          <img class="benefits__image" src="assets/home/benefit1.jpg" alt="benefit">
        </div>
        <div class="benefits__text">
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula nunc. Sed ut
            scelerisque</p>
        </div>
      </div>
      <div class="benefits__card">
        <div class="benefits__img">
          <img class="benefits__image" src="assets/home/benefit2.jpg" alt="benefit">
        </div>
        <div class="benefits__text">
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula nunc. Sed ut
            scelerisque</p>
        </div>
      </div>
      <div class="benefits__card">
        <div class="benefits__img">
          <img class="benefits__image" src="assets/home/benefit3.jpg" alt="benefit">
        </div>
        <div class="benefits__text">
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula nunc. Sed ut
            scelerisque</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container about-us__container">
    <div class="about-us__information">
      <div class="about-us__img">
        <img class="about-us__image" src="assets/home/about-us.jpg" alt="team">
      </div>
      <div class="about-us__info">
        <p class="text about-us__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique, orci
          quis condimentum laoreet, odio lacus mollis mauris, id bibendum turpis lorem ut sem. Quisque ut mi a nisi
          feugiat tempor ac vel lectus. Etiam.</p>
      </div>
    </div>
  </div>
</section>

