<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sushi</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo">
            <img class="logo-img" src="img/logo.png" alt="logo">
            <p class="logo-text">super sushi</p>
        </div>
        <nav class="navigation">
            <ul>
                <li class="nav-item"><a href="#">Суши</a></li>
                <li class="nav-item"><a href="#">Роллы</a></li>
                <li class="nav-item"><a href="#">Доставка и оплата</a></li>
                <li class="nav-item"><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="benefits">
    <div class="container">
        <div class="benefits-info">
            <h1>Отменные суши и роллы в Super Sushi</h1>
            <div class="benefits-points">
                <div class="benefits-point">
                    <img src="img/tuna.png" alt="1">
                    <p>Всегда свежие</p>
                </div>
                <div class="benefits-point">
                    <img src="img/sushi.png" alt="1">
                    <p>Широкий ассортимент</p>
                </div>
            </div>
            <button class="btn btn-rolls">Выбрать суши</button>
        </div>
        <div class="benefits-img">
            <img src="img/rolls.png" alt="rolls">
        </div>
    </div>
</section>

<section class="catalog">
    <div class="container">
        <h2>Выберите свои суши и роллы</h2>
        <div class="cards">
            <div class="card">
                <img src="img/1.png" alt="roll">
                <p class="card-title">Кайджи маки</p>
                <p class="composition">Лосось, морской окунь, сливочный сыр, икра летучей рыбы, соус Терияки</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/2.png" alt="roll">
                <p class="card-title">Бали маки</p>
                <p class="composition">Копченый лосось, креветка в темпуре, манго, сливочный сыр, соус Спайси</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/3.png" alt="roll">
                <p class="card-title">Бонито маки</p>
                <p class="composition">Лосось, сливочный сыр, авокадо, стружка тунца</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/4.png" alt="roll">
                <p class="card-title">Филадельфия маки</p>
                <p class="composition">Лосось, сливочный сыр</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/5.png" alt="roll">
                <p class="card-title">Киото маки</p>
                <p class="composition">Угорь, авокадо, огурец, соус Унаги, кунжут белый</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/6.png" alt="roll">
                <p class="card-title">Эби Калифорния маки</p>
                <p class="composition">Креветка, авокадо, огурец, майонез, икра летучей рыбы</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/7.png" alt="roll">
                <p class="card-title">Вакамэ маки</p>
                <p class="composition">Лосось, сливочный сыр, водоросли маринованные, соус Ореховый, кунжут черный</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
            <div class="card">
                <img src="img/8.png" alt="roll">
                <p class="card-title">Эдо маки</p>
                <p class="composition">Креветка в темпуре, сливочный сыр, огурец, соус Терияки, кунжут белый</p>
                <button class="btn btn-cart">В корзину</button>
            </div>
        </div>
    </div>
</section>

<section class="povar">
    <div class="container">
        <div class="povar-info">
            <h2 class="povar-title">
                Для вас готовит наш лучший сушист Иван
            </h2>
            <p>Роллы и суши, которые вы у нас заказываете, делаются профессиональным сушистом с 5-летним стажем Иваном
                Лазерко, который постоянно подтверждает и улучшает свою квалификацию, совершенствует рецептуру и
                ассортимент нашего суши-бара, прелагая вам новые и интересные сочетания вкусов.</p>
            <h3>Читайте подробнее о наших суши и роллах</h3>
            <div class="more">
                <a class="more-item" id="onigiri" href="#1"><div class="onigiri"></div></a>
                <a class="more-item" id="sushi" href="#2"><div class="sushi"></div></a>
                <a class="more-item" id="tuna" href="#3"><div class="tuna"></div></a>
            </div>
        </div>
        <div class="povar-image">
            <img src="img/povar.png" alt="povar">
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="logo">
            <img class="logo-img" src="img/logo.png" alt="logo">
            <p class="logo-text">super sushi</p>
        </div>
        <p>Все права защищены, 2020</p>
    </div>
</footer>
</body>
</html>